/* ----Omni Selector---- */
* {
  /* font-family: "Roboto", sans-serif;
  font-family: "Roboto Slab", serif; */
  font-family: "Fira Code", monospace;
}

/* ----Navbar---- */
.navbar {
  min-height: 80px;
}

.customNavbar {
  padding: 0;
}

.navbar-brand {
  padding: 0 15px;
  margin-bottom: 0px;
  height: 80px;
  line-height: 80px;
}

.navbar-toggle {
  margin-top: 23px;
  padding: 9px 10px !important;
}

.pipe {
  color: gray;
  display: flex;
  align-items: center;
  opacity: 30%;
  margin: 0 15px;
}

.navRightLink {
  flex-direction: row;
  margin-right: 15px;
}

.mainHeader {
  background: white;
}


.customButton {
  color: white;
}

.navLeft {
  margin-left: 15px;
}

/* ----Main Content---- */
body,
html {
  height: 100%;
  margin: 0;
}

h1,
h2,
h3,
h4 {
  color: #28a745;
}

h4 {
  line-height: 70px;
  font-size: 30px;
  display: flex;
  justify-content: center;
  text-align: center;
}

img {
  width: 100%;
}

.bg {
  background-image: url(../css/img/white-marble-bg.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  min-height: 100%;
}

.mainSection {
  padding-top: 15px;
}

.col1,
.col2 {
  margin-left: 15px;
  margin-right: 15px;
  background-color: white;
}

.col2_1,
.col2_2 {
  background-color: white;
  margin-left: 15px;
  margin-right: -15px;
}

.main-content {
  padding-bottom: 125px;
}

/* ----Footer---- */
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 80px;
  background-color: rgb(49, 48, 48);
  line-height: 80px;
  text-align: center;
}

.footerText {
  color: #28a745;
  opacity: 70%;
  margin: 0;
}

/* ----Media Queries---- */

@media screen and (max-width: 767px) {
  .col2_1,
  .col2_2 {
    margin-right: 15px;
  }
  .main-content {
    padding-bottom: 125px;
  }
}
@media screen and (max-width: 641px) {
  /* Navbar */
  .navRight {
    width: 100%;
  }

  .navRightLink {
    width: 100%;
    justify-content: center;
    margin: 0;
  }

  .navLeft {
    width: 100%;
    margin: 0;
  }

  .fullNav {
    width: 100%;
    text-align: center;
    font-size: xx-large;
  }


  .main-content {
    padding-bottom: 85px;
  }
}
